* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s ease-in-out;
}


#resultpopupbox {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    z-index: 2;
}

#resultpopupwindow {
    background-color: rgb(194, 192, 192);
    justify-self: center;
    width: 600px;
    margin-top: 10px;
    height: 100%;
    border-radius: 10px;
    border: 5px double rgb(106, 124, 0);
    padding: 10px;
}

#popupbox {
    display: none;
    justify-items: center;
    position: fixed;
    background: rgb(1, 1, 1, 0.5);
    width: 100%;
    height: 100%;
    z-index: 9999;
}

#popupwindow {
    opacity: 1;
    border: 2px solid gray;
    width: 30vw;
    height: 30vh;
    overflow: hidden;
    background-color: black;
    top: 30%;
    left: 50;
    position: relative;
    border-radius: 5px;
}

#input {
    margin: 10% 10% 0% 10%;
    text-align: center;
}

#input label {
    color: white;
}

#input input {
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 1px;
    font-size: medium;
    font-weight: 700;
    width: 50%;
    height: 4vh;
    margin-bottom: 5%;
}

#url {
    margin-left: 3.8%;
}

#buttons {
    display: inline-flex;
    gap: 10px;
    margin: 0 auto;
    width: 100%;
    justify-content: space-evenly;
}

#buttons button {
    margin: 0%;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 1.5%;
    color: rgb(221, 221, 221);
    border-radius: 4px;
    border: 1px solid transparent;
}

#ok {
    background-color: rgb(4, 104, 34);
}

#cancel {
    background-color: rgb(184, 1, 1);
}

#ok:hover {
    box-shadow: 0px 0px 8px 3px green;
    border: 1px solid rgb(218, 218, 218);
    cursor: pointer;
}

#cancel:hover {
    border: 1px solid rgb(216, 213, 213);
    box-shadow: 0px 0px 4px 3px red;
    cursor: pointer;
}


#changebg {
    transition: all 3s ease-in-out;
    color: white;
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 2% 0%;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    outline: none;
    border: none;
    background-color: black;
}


#controll {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top: 0;
    position: absolute;
    font-style: italic;
    width: 400px;
    height: 500px;
}


#settingicon {
    border: 2px solid;
    margin: 0px 10px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
}

#settingicon:hover {
    background-color: gray;
}

#settingicon:not(:hover) {
    background-color: wheat;
}

#container {
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    height: 100%;
    position: relative;
    background: rgb(61, 15, 104);
    border: 2px solid white;
    text-align: left;
    box-shadow: 6px 6px 10px 5px black;
    left: -100%;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes entry {
    0% {
        left: -100%;
        opacity: 0;
    }

    100% {
        left: 0%;
        opacity: 1;
    }
}

@keyframes leave {
    0% {
        left: 0%;
        opacity: 1;
    }

    100% {
        left: -100%;
        opacity: 0;
    }

}

#container input {
    float: right;
    border: none;
    outline: none;
    width: 38px;
    padding: 3px;
    font-weight: bold;
    border-radius: 4px;
}

#arrow {
    font-family: sans-serif;
    position: relative;
    top: -4.3%;
    float: left;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    font-weight: bolder;
}


#bgimg {
    display: flex;
    position: relative;
    bottom: 30%;
    left: 1%;
    border: transparent;
    width: 100%;
    height: 150px;
    background-color: bisque;
    border-radius: 4px;
    overflow: hidden;
}

#bgimg:hover {
    overflow-y: hidden;
    overflow-x: auto;
}

#bgimg img {
    background: black;
    border-radius: 5px;
    width: 189px;
    height: 100%;
    position: relative;
    border: none;
    cursor: pointer;
}

#bgimg a {
    margin: 7% 0px 0px 5px;
    width: 189px;
    height: 110px;
}

#imgpreview {
    position: fixed;
    background-color: white;
    top: 10%;
    color: white;
    left: 25%;
    z-index: 3;
    border-radius: 5px;
    visibility: hidden;
}



#main {
    position: absolute;
    left: 16vw;
    margin: 16vh 0vw;
    border-radius: 5px;
    width: 70%;
    padding: 3px 0px;
    height: 400px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#searchcontainer {
    border-radius: 10px;
    width: 70%;
    height: 10%;
    border: none;
    margin: 0% auto;
    background-color: white;
    display: flex;
    margin-top: 5px;
}

#searchbox {
    outline: none;
    font-size: 1.4rem;
    background-color: transparent;
    border: none;
    width: 90%;
    height: 100%;
    padding: 3px;
}

#searchbtn {
    cursor: pointer;
    background-color: rgb(2, 155, 2);
    height: 100%;
    width: 10%;
    border: none;
    border-radius: 0px 5px 5px 0px;
    border-style: none none none solid;
}

#engine {
    overflow: hidden;
    border: 5px;
    margin: 3vh;
    float: left;
    color: black;
    font-size: larger;
    cursor: default;
    border-style: none none solid none;
    animation: changecolor 5s ease-in-out .3s infinite reverse;
    border-image: linear-gradient(to right, red, blue) 1;
    transition: all 1.5s ease-in;
    background: black;
    padding: 1vh;
    border-radius: 6px;
}

#engine:hover {
    background: transparent;
    width: auto;
    height: 140px;
    transition: all 1.5s ease-in;
}

#engine:not(:hover) {
    height: 23px;
    transition: all 1.5s ease-in;
}

@keyframes changecolor {
    0% {
        border-image: linear-gradient(to right, red, blue, green) 1;
    }

    50% {
        border-image: linear-gradient(to left, red, green, blue) 1;
    }

    100% {
        border-image: linear-gradient(to right, red, blue) 1;
    }
}



#engine input,
label {
    color: white;
    margin: 0px 0px 10px 0px;
    cursor: pointer;
}

#engine p {
    padding-bottom: 1vh;
    color: white;
}

#shortcuts {
    text-align: center;
    justify-items: center;
    margin-top: 13px;
    display: flex;
    border: 2px solid transparent;
    transition: all 1s ease-in-out;
    background-color: wheat;
    border-radius: 20%;
    width: 600px;
    height: 150px;
}

#shortcuts p {
    margin-top: 1px;
    text-align: center;
    font-size: .7rem;
    font-weight: bold;
    text-decoration: underline;
}



#shortcuts:hover {
    border-radius: 3%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 600px;
    height: 150px;
    transition: all 1s ease-in-out;
    flex-wrap: wrap;
}

#shortcuts:not(:hover) {
    overflow: hidden;
    padding: 1px;
    width: 25px;
    height: 25px;
    transition: all 1s ease-in-out;
}

#shortcuts span {
    padding: 1px;
    height: 100%;
    width: 100%;
    text-align: center;
    border: none;
}

#shortcuts div {
    cursor: pointer;
    background-color: white;
    border-radius: 3px;
    box-shadow: 6px 6px 20px 3px black;
    padding: 0% .5% 3% .5%;
    overflow: hidden;
    margin: 1% 0% 0% 3%;
    width: 25px;
    height: 15px;
}