* {
    margin: 0;
    padding: 0;
}

:root {
    /* for dark filter */
    --dark-filter-bg-color: transparent;

    /* for container */
    --container-bg-color: #e8def8;
    --container-box-shadow: 6px 6px 10px 5px black;

    /* for bg img */
    --bgimg-bg-color: #d3b3f3;

    /* for main container */
    --main-bg-color: rgb(256, 256, 256, .6);


}

.dark-mode {
    /* for dark filter */
    --dark-filter-bg-color: rgb(0, 0, 0, .4);

    /* for container */
    --container-bg-color: black;
    --container-text-color: white;

    /* for bg img */
    --bgimg-bg-color: #372e3f;

    /* for main container */
    --main-bg-color: rgba(0, 0, 0, 0.6);
    --main-text-color: rgb(197, 196, 196);
}

body {
    transition: all 2s ease-in-out;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#darkfilter {
    transition: all 1s ease-in-out;
    background-color: var(--dark-filter-bg-color);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}


#contextmenu {
    display: none;
    font-family: Roboto, Arial, sans-serif;
    color: rgb(204, 204, 204);
    position: fixed;
    width: 250px;
    background-color: rgb(20, 20, 20);
    z-index: 9999;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 6px 9px 9px 3px black;
}

#contextmenu li {
    border: 1.5px rgb(70, 69, 69);
    border-style: none none solid none;
    list-style-type: none;
    padding: 5px;
    margin-bottom: 3px;
    width: 100%;
    margin: 0;
}

#contextmenu li:hover {
    cursor: pointer;
    background-color: rgb(54, 49, 49);
}

#toast {
    background-color: rgb(165, 165, 165, .7);
    padding: 10px 10px 0px 10px;
    position: fixed;
    height: 30px;
    border-radius: 20px;
    top: -20%;
    left: 47%;
    font-family: sans-serif;
    animation: none;
    z-index: 9999999;
}

@keyframes show {
    0% {
        top: -10%;
        opacity: 0;
    }

    100% {
        top: 6%;
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        top: 4%;
        opacity: 1;
    }

    100% {
        top: -10%;
        opacity: 0;
    }
}

#popupbox {
    display: none;
    justify-items: center;
    position: fixed;
    background: rgb(1, 1, 1, 0.5);
    width: 100%;
    height: 100%;
    z-index: 5;
}

#popupwindow {
    opacity: 1;
    border: 2px solid gray;
    width: 30vw;
    height: 30vh;
    overflow: hidden;
    background-color: black;
    top: 30vh;
    left: 33vw;
    position: relative;
    border-radius: 5px;
}

#input {
    margin: 10% 10% 0% 10%;
    text-align: center;
}

#input label {
    color: white;
}

#input input {
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 1px;
    font-size: small;
    font-weight: 700;
    width: 50%;
    height: 4vh;
    margin-bottom: 5%;
}

#url {
    margin-left: 3.8%;
}

#buttons {
    display: inline-flex;
    gap: 10px;
    margin: 0 auto;
    width: 100%;
    justify-content: space-evenly;
}

#buttons button {
    margin: 0%;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 1.5%;
    color: rgb(221, 221, 221);
    border-radius: 4px;
    border: 1px solid transparent;
}

#ok {
    background-color: rgb(4, 104, 34);
}

#cancel {
    background-color: rgb(184, 1, 1);
}

#ok:hover {
    box-shadow: 0px 0px 8px 3px green;
    border: 1px solid rgb(218, 218, 218);
    cursor: pointer;
}

#cancel:hover {
    border: 1px solid rgb(216, 213, 213);
    box-shadow: 0px 0px 4px 3px red;
    cursor: pointer;
}


#changebg {
    transition: all 3s ease-in-out;
    color: white;
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 2% 0%;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    outline: none;
    border: none;
    background-color: #6c47c6;
}


#controll {
    visibility: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top: 0;
    position: fixed;
    font-style: italic;
    background-color: rgb(0, 0, 0, .7);
    height: 100vh;
    width: 100vw;
}


#settingicon {
    position: sticky;
    margin: 1%;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    transition: all 1s ease-in-out;
}

#settingicon:hover {
    background-color: gray;
}

#settingicon:not(:hover) {
    background-color: wheat;
}

#container {
    transition: all 1s ease-in;
    border-radius: 10px;
    padding: 10px;
    width: 25vw;
    position: relative;
    background-color: var(--container-bg-color);
    color: var(--container-text-color);
    border: 5px solid #a082d9;
    text-align: left;
    box-shadow: var(--container-box-shadow);
    top: 5%;
    left: -100%;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes entry {
    0% {
        left: -100%;
        opacity: 0;
    }

    100% {
        left: 0%;
        opacity: 1;
    }
}

@keyframes leave {
    0% {
        left: 0%;
        opacity: 1;
    }

    100% {
        left: -100%;
        opacity: 0;
    }

}

#container input {
    float: right;
    border: none;
    outline: none;
    width: 38px;
    padding: 3px;
    font-weight: bold;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 9px;
    display: block;
}

#container label {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

#darkmode {
    width: 80%;
    float: left;
}

#darkmodedummy {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}

.slider {
    display: inline-block;
    background-color: rgb(197, 53, 53);
    width: 36px;
    height: 20px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 40px;
    overflow: hidden;
    align-items: self-start;
}

.ball {
    margin-top: 1.5px;
    display: block;
    width: 53%;
    height: 90%;
    border-radius: 50%;
    background-color: rgb(0, 29, 71);
    box-shadow: 0px 0px 3px 2px black;
}

#bgimg {
    transition: all 1s ease-in;
    margin-top: 20px;
    display: flex;
    left: 1%;
    border: transparent;
    background-color: var(--bgimg-bg-color);
    border-radius: 4px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
}

#bgimg img {
    background: black;
    border-radius: 5px;
    width: 189px;
    height: 100%;
    position: relative;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px black;
}

#bgimg a {
    margin: 0 5px;
    width: 189px;
    height: 110px;
}

#expand {
    transition: all .1s ease-in-out;
    background-color: white;
    padding: 3px;
    position: relative;
    height: 6%;
    border-radius: 3px;
    left: 96%;
    margin-top: .4%;
}

#expand:hover {
    transition: all .2s ease-in-out;
    background-color: rgb(156, 153, 153);
    height: 5.9%;
    cursor: pointer;

}

#imgadd {
    position: fixed;
    background-color: rgb(0, 0, 0, .5);
    color: white;
    z-index: 3;
    border-radius: 5px;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    align-content: center;
}

#inputimage {
    overflow: hidden;
    display: flex;
    background-color: black;
    margin: 0 auto;
    width: 70%;
    height: 70%;
    border-radius: 5px;
    border: 2px solid white;
    align-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#imagechooser {
    margin: .5%;
    border-radius: 20px;
    height: 5%;
    align-content: center;
    padding-left: 10px;
    border: 2px solid wheat;
    position: absolute;
    background: rgb(0, 0, 0, .4);
}

#imgadd button {
    width: 70px;
    height: 40px;
    border-radius: 6px;
    display: block;
    margin-top: 40%;
    border: none;
    color: white;
    font-weight: bold;
    border: 1px solid black;

}

#imgadd button:hover {
    cursor: pointer;
}

#Add {
    background-color: green;
    margin-left: 40%;
}

#Discard {
    margin-left: 5px;
    background-color: red;
}

#main {
    transition: all 1s ease-in;
    position: sticky;
    display: flex;
    justify-content: center;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    width: 80vw;
    height: 10vh;
    margin: 20vh auto;
    border-radius: 10px;
    padding: 20px;
}


#searchcontainer {
    transition: all 1s ease-in;
    z-index: 1;
    margin: 3px;
    background-color: var(--main-bg-color);
    display: flex;
    height: 64%;
    width: 50%;
    border-radius: 30px;
    border: 2px solid rgb(151, 151, 151);
    overflow: hidden;
}

#logo {
    background:linear-gradient(to right, transparent,var(--main-text-color),transparent);
    cursor: pointer;
}

#searchbox {
    transition: all 1s ease-in;
    color: var(--main-text-color);
    padding-left: 10px;
    font-family: sans-serif;
    font-size: large;
    background-color: transparent;
    outline: none;
    border: none;
    border: none;
    height: 100%;
    width: 80%;
}

#searchbtn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    height: 100%;
    width: 15%;
}

#searchbtn:hover {
    background-color: rgb(104, 103, 103);
}

#engine {
    transition: all 1s ease-in;
    cursor: pointer;
    overflow: hidden;
    background-color: var(--main-bg-color);
    height: 20px;
    margin: 5px;
    padding: 4px 4px 0px 4px;
    border-radius: 5px;
    border: 2px solid rgb(160, 158, 158);
    font-weight: 700;
}

@keyframes drop {
    0% {
        height: 20px;
    }

    100% {
        height: 100px;
    }
}

@keyframes rise {
    0% {
        height: 100px;
    }

    100% {
        height: 20px;
    }
}

#engine p {
    padding-bottom: 1vh;
}

#engine label {
    cursor: pointer;
}

#drop {
    margin: 0;
    cursor: pointer;
    width: 20px;
    float: inline-end;
}

#shortcuts {
    transition: all 1s ease-in;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border-radius: 10px;
    padding: 20px;
}


#box p img {
    border-radius: 10%;
    cursor: pointer;
    transition: all 1s ease-in;
    border: 2px solid transparent;
    height: 100%;
    background-color: var(--main-text-color);
}

#box p img:hover {
    transition: all .3s ease-in;
    background-color: rgb(256, 256, 256);
    border: 2px solid teal;
}

footer {
    background-color: #007bff;
    background: linear-gradient(180deg, #0ad4db, #a781ec);
    position: fixed;
    bottom: 0vh;
    display: block;
    width: 100vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 70%;
}

footer p {
    display: inline-block;
    padding-bottom: .3%;
}

footer p img {
    transform: rotate(-90deg);
    width: 5%;
}

footer p a:visited {
    color: purple;
}